  {{#with blog}}
  {{> blogs userId=../userId}}
  {{/with}}

  <div class="comments-card card">
    <div class="card-body">
      <h3 class="card-title">
        Comments
      </h3>
      <hr class="blog-hr" />
      <div class="comments">
        
        {{#each (parse_comments blog.comments) as |comment|}}
        <div class="container-fluid">
          <div class="row">
          <div class="col-1 comment-user p-0">
        <a href="/dashboard/{{comment.user_id}}">

            <img
              class="comment-img mx-auto"
              src="/images/uploads/profile-{{comment.user_id}}.jpg"
            />
            <p class="text-light mb-0 comment-author text-center">
              {{comment.user.name}}
            </p>
            <p class="text-center"><small class='text-muted'>{{{comment.createdAt}}}</small></p>
            </a>
          </div>
          <div class="col-11">
            <p>
              {{comment.content}}
            </p>
            </div>
          </div>
        </div>
        <hr class="blog-hr" />
        {{/each}}
      </div>
      {{#if loggedIn}}

      <textarea
        class="form-control mb-3"
        id="comment"
        rows="3"
        placeholder="Write Comment Here..."
      ></textarea>
      <button
        data-user="{{user}}"
        data-blog="{{blog.id}}"
        id="comment-btn"
        class="btn blog-btn"
      >
        Leave Comment
      </button>
      {{else}}
      <a href="/login?blogId={{blog.id}}" class="btn blog-btn">
        Login to Comment
      </a>
      {{/if}}
  </div>
</div>
<script src="/js/blog.js"></script>